{% extends 'base.html.twig' %}

{% block title %}Confirmation de suppression{% endblock %}

{% block body %}
    <div class="notification is-success">
        <h1 class="title">Suppression réussie</h1>
        <p>Votre compagnie a été supprimée avec succès du site.</p>
    </div>
{% endblock %}
