{% block subject %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block body_html %}
    <p>Bonjour {{ user.firstName }},</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
    <p><a href="{{ resetLink }}">Réinitialiser mon mot de passe</a></p>
    <p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail en toute sécurité.</p>
    <p>Merci,</p>
    <p>L'équipe de votre site</p>
{% endblock %}

{% block body_text %}
    Bonjour {{ user.firstName }},

    Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe :

    {{ resetLink }}

    Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail en toute sécurité.

    Merci,
    L'équipe de votre site
{% endblock %}
